<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 1 导入vue包 -->
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app" >

	<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">添加品牌</h3>
			</div>
			<div class="panel-body form-inline">
				<label>
					Id:
					<input type="text" class="form-control" v-model="id">
				</label>

				<label>
					Name:
					<input type="text" class="form-control" v-model="name" @keyup.enter	="save">
				</label>
				<label>
						&nbsp;
					<input type="button" value="添加" class="btn btn-primary" @click="save">
				</label>

				<label>
						&nbsp;	&nbsp;	&nbsp;按照名字或关键字进行搜索:
					<input type="text" class="form-control" v-model="keywords" v-focus  v-show>
				</label>
			</div>
	</div>

	<br>

	<table  class="table table-bordered table-hover table-striped">
		<thead>
			<tr align="center">
					<td>Id</td>
					<td>Name</td>
					<td>CTime</td>
					<td>Operate</td>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(car,i) in search(keywords)" :key="i" align="center">
				<td>{{car.id}}</td>
				<td>{{car.name}}</td>
				<td  v-color="'blue'">{{car.ctime | dataFormat('yyyy-mm-dd hh:mm:ss')}}</td>
				<td><a href="" @click.prevent="del(i)">删除</a></td>
			</tr>
		</tbody>
	</table>

</div>
<script>
	//全局过滤器
	Vue.filter('dataFormat',function(data,pattern){

		var dt = new Date(data);
		var y = dt.getFullYear();
		var m = (dt.getMonth() + 1).toString().padStart(2,'0');
		var d = (dt.getDate()).toString().padStart(2,'0');
		var p = pattern.toLowerCase();
	
		 if(p == 'yyyy-mm-dd'){
			// return y+'-'+m+'-'+d;
			return `${y}-${m}-${d}`;
		 }else{
			 var hh = (dt.getHours()).toString().padStart(2,'0');
			 var mm = (dt.getMinutes()).toString().padStart(2,'0');
			 var ss = (dt.getSeconds()).toString().padStart(2,'0');
			 	 return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
		 }
	});

	//自定义键盘码
	Vue.config.keyCodes.f2=113;

	//定义Vue的全局指令 在定义的时候不需要加 v-前缀
	//参数一 为指令的名称 参数二 为对象,在这个对象上有相关的函数 这些函数可以砸特定的阶段实现相关的操作
	Vue.directive('focus',{

		//指令函数提供的钩子参数 指令绑定到元素的时候,会立即执行,这个bind函数,只执行一次
		bind:function(el){
			el.focus();
		},

		//当被绑定的运算插入时候
		//与JS行为相关的一般在inserted函数中防止不生效
		inserted:function(e1){
			e1.focus();
		},
		//更新时候会执行 updated 可能会触发多次
		updated:function(){

		}
	});

	Vue.directive('color',{
		//与样式相关的一般放在bind中 
		bind:function(el,binding){
			el.style.color=binding.value;
			//console.log(binding.value);
			console.log(binding.expression);
			
			
		}
	});

	var vm = new Vue({
		el:'#app',
		data:{
			id:'',
			name:'',
			keywords:'',
			list: [
				{ 'id':1,'name':'红旗','ctime':new Date()},
				{'id':2,'name':'宝马','ctime':new Date()},
				{'id':3,'name':'奥迪','ctime':new Date()},
				{'id':4,'name':'托马斯','ctime':new Date()}
			]
		},
		methods:{
			save(){
				var car = {'id':this.id,'name':this.name,'ctime':new Date()};
				this.list.push(car);
				this.id='';
				this.name='';
			},
			del(i){
				this.list.splice(i);
			},
			//根据关键字对数据进行搜索
			search(keywords){

				// var newList= [];
				// this.list.forEach(item =>{
				// 	if (item.name.indexOf(keywords) !=-1) {
				// 		newList.push(item);
				// 	}
				// });
				// return newList;

				//forEach some filter findIndex 都属于数组的新方法
				// 在ES6中 为字符串提供了一个新方法叫	String.prototype.includes('')
				return this.list.filter(item =>
					{
						if (item.name.includes(keywords)){
							return item;
						}
					}
				);

			}
		},
		directives:{
			show:function(el){
				el.style.color="red";
			}
		}
	});



</script>

</body>
</html>
